.all {
  background-color: #a3ddcb;
  min-height: screen;
}

.identitas {
  font-family: monospace;
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

p1 span:hover {
  text-shadow: 3px 3px #0a043c;
  color: #ffe3de;
}

p2 {
  margin-bottom: 3%;
}

p2 span:hover {
  text-shadow: 3px 3px #0a043c;
  color: #ffe3de;
}

.JudulCaKru {
  margin-top: -25px;
  margin-bottom: -10px;
  color: #060224;
}

.JudulKru {
  margin-top: 50px;
}

.button {
  background-color: #0a043c;
  border: none;
  padding: 8px 21px;
  display: flex;
  color: #ffe3de;
  font-family: monospace;
  margin-left: 50%;
  margin-bottom: 1%;
}

.button:hover {
  background-color: #a3ddcb;
  color: #0a043c;
}